<footer style="min-height: 50px; padding: 20px 0;" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <p class="no-margin">Kjøller I/S v/Søren og Anders Kjøller</p>
                <p class="no-margin"><strong>Adresse</strong> Slotsgade 37, 3400 Hillerød</p>
                <p class="no-margin"><strong>Telefon</strong> <a href="tel:22271248">48 26 02 05</a></p>
                <p class="no-margin"><strong>E-mail</strong> kjoeller@firma.tele.dk</p>
                <p class="no-margin"><strong>CVR</strong> 27163254</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p class="text-right no-margin hidden-xs">&copy; Kjøller I/S</p>
                <p class="no-margin visible-xs text-center">&copy; Kjøller I/S</p>
            </div>
        </div>
    </div>
</footer>