<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="BlitzCom">

    <link rel="apple-touch-icon" sizes="57x57" href="/public/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Kjøller er en butik for mænd der går op i mode og selvforkælelse, med den største forstand på service og stil.">
    <meta name="author" content="Flipovic">

    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/custom-font-awesome/custom-font-icons.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
               <img class="navbar-img" src="images/loeveguld.png" alt="">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Om</a>
                </li>
                <li>
                    <a class="page-scroll" href="#brands">Mærker</a>
                </li>
                <li>
                    <a class="page-scroll" href="#history">Historie</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background-color: #000000">
    <div class="header-content">
        <div class="header-content-inner">

        </div>
    </div>
</header>

<!-- About -->
<section class="bg-about" id="about">
    <div class="container">
        <div class="row front-about">
            <div class="col-lg-6 col-lg-offset-1 text-center">
                <h2 class="section-heading" style="color: #ffffff">Om</h2>
                <hr class="light">
                <p class="text-faded">Kjøller er en tøjbutik der er dedikeret til mænd der går op i mode.
                Her i butikken finder man de populære brands, alt fra sokker og underbukser,
                    til det fine jakkesæt til brudgommen.</p>
                <p class="text-faded">Butikken har ligget her siden 1982, og er drevet af Søren Kjøller, sønnen Anders
                og 2 dygtige medarbejdere. </p>
                <div class="hidden-xs hidden-sm">
                    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-2">
                        <p class="text-faded">
                            Åbningstider: <br>
                            Mandag <br>
                            Tirsdag <br>
                            Onsdag <br>
                            Torsdag <br>
                            Fredag <br>
                            Lørdag <br>
                            Søndag
                        </p>
                    </div>
                    <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-2">
                        <p class="text-faded">
                            <br>
                            10.00 - 18.00<br>
                            10.00 - 18.00<br>
                            10.00 - 18.00<br>
                            10.00 - 18.00<br>
                            10.00 - 19.00<br>
                            09.00 - 15.00<br>
                            Lukket
                        </p>
                    </div>
                </div>
                <div class=" hidden-md hidden-lg hidden-xl">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p class="text-faded">
                            Åbningstider: <br>
                            Mandag    10.00 - 18.00<br>
                            Tirsdag   10.00 - 18.00 <br>
                            Onsdag    10.00 - 18.00<br>
                            Torsdag   10.00 - 18.00<br>
                            Fredag    10.00 - 19.00<br>
                            Lørdag    09.00 - 15.00<br>
                            Søndag    Lukket
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-lg-offset-1 text-center">
                <h2 class="section-heading" style="color: #ffffff">Placering</h2>
                <hr class="light">
                <!-- MAP OF LOCATION -->
                <div id="map"></div>
                    <script>
                    function initMap() {
                        var uluru = {lat: 55.9311245, lng: 12.2990392};
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 16,
                            center: uluru
                        });
                        var marker = new google.maps.Marker({
                            position: uluru,
                            map: map
                        });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATdMZPqZyQ8Y6DDjsVe8NENu6Td_ejs6A&callback=initMap">
                </script>
            </div>
        </div>
    </div>
</section>

<!-- brands -->
<section id="brands">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Brands</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="brand-box">
                    <img src="images/gant-logo.png" alt="" style="width:120px;height:100px;margin:20px;margin-left:20px">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="brand-box" style="margin-top: 70px">
                    <img src="/images/matinique-logo.jpg" alt="" height="60px" width="175px">
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="brand-box">
                    <img class="brand-logo" src="/images/pbo-logo.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="brand-box">
                        <img src="/images/stenstroms-logo.png" alt="" style="width: 250px; margin: 50px">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="brand-box">
                        <img src="/images/nn07-logo.png" alt="" style="height: 200px" width="100px">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="brand-box">
                        <img src="/images/peak-logo.jpg" alt="" width="200px">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="brand-box">
                        <img class="brand-logo" src="images/rene-logo.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="brand-box" style="margin-top: 70px">
                        <img src="/images/replay-logo.jpg" alt="" style="height: 50px;width: 200px">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 text-center">
                    <div class="brand-box">
                        <img src="/images/Sand-logo.png" alt="" style="width: 250px; margin: -80px">
                    </div>
                </div>
            </div>

    </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>- og meget mere</h2>
            </div>
        </div>
    </div>
</section>


<!-- History -->
<section id="history" class="bg-history">
    <div class="container">
        <div class="row front-history">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Historie</h2>
                <hr class="light">
                <p class="text-faded">Historien bag Søren Kjøllers langvarige ophold i Hillerød er klassisk:
                    Han kom til Sjælland som værnepligtig, mødte en pige, pigen var fra Hillerød -
                    og således blev Hillerød også byen, hvor Søren Kjøller slog sig ned.</p>
                <p class="text-faded">Kjøller blev etableret i 1982. Det har haft sin plads i mere end 50 år, med samme
                facade og tidsløse design. Ikke nok med det, så har der også været samme ejer siden da</p>
                <p class="text-faded">Butiks- og familienavnet står stadig flankeret
                    af en tegning af et løvehoved. Valgt, fordi Søren Kjøller er født i løvens tegn.
                    I butikken hænger jakkesættene stadig på stribe, men udvalget er dog blevet større med årene.
                    <i>“Mænd er blevet mere modebevidste de seneste år. De vil have flere farver,
                        de vil prøve noget nyt, og det forsøger vi at leve op til på en kvalitetsbevidst måde"</i> - Søren Kjøller.
                    </p>
                <p class="text-faded">Arvefølgen er sikret til den dag, Søren Kjøller trækker sig fra det daglige arbejde.
                    Sønnen Anders er medejer og butikken har også to ansatte - “gode og dygtige ansatte”,
                    understreger Søren Kjøller.</p>
                <p class="text-faded">De 72 år til trods deltager han både i butiksdrift, indkøb og besøg på for eksempel messer.
                    Netop indkøbsfasen er ekstra vigtig i en butik som Kjøller: Langt flertallet af byens butikker er kædeforretninger, der får bestemte sortimenter hjem:
                    <i>“Men vi finder alle varerne selv, så vi forsøger at finde ting, der giver folk en oplevelse.”</i></p>
            </div>
        </div>
    </div>
</section>


<!-- Contact -->
<!--
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Lad os høre fra dig!</h2>
                <hr class="primary">
                <p class="text-center">Skriv til os og vi vil vende
                    tilbage til dig så hurtigt som muligt!</p>
                <form class="contact-form" id="contactForm" name="sentMessage" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Navn</label>
                            <input id="name" class="form-control" placeholder="Dit navn *" required
                                   data-validation-required-message="Dit navn er krævet.">

                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="col-md-6">
                            <label>E-mail</label>
                            <input id="email" class="form-control" placeholder="Din e-mail *" required
                                   data-validation-validemail-message="Ugyldig e-mailadresse."
                                   data-validation-required-message="Din e-mailadresse er krævet.">

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <label>Besked</label>
                            <textarea id="message" class="form-control" rows="4"
                                      placeholder="Din besked *"
                                      required
                                      data-validation-required-message="Message is required."
                                      style="resize: none;"></textarea>

                    <p class="help-block text-danger"></p>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="success"></div>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <button id="btnSend" class="btn btn-primary btn-xl center-block" type="submit">Send
                                Besked
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
-->
<%- include footer.ejs %>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/javascripts/jquery.easing.min.js"></script>
<script src="/javascripts/jquery.fittext.js"></script>
<script src="/javascripts/wow.min.js"></script>
<script src="/javascripts/classie.js"></script>
<script src="/javascripts/cbpAnimatedHeader.js"></script>
<script src="/javascripts/jqBootstrapValidation.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/javascripts/script.js"></script>
<script src="/javascripts/contact.js"></script>

</body>
</html>